streamlit
speech_recognition
gtts
audio_recorder_streamlit
streamlit_float
python-dotenv
pip>=25.1.1
groq
librosa
soundfile
langdetect
torch
elevenlabs
markdown-it-py==3.0.0
mdurl==0.1.2
pygments==2.19.1
rich==14.0.0
